* {
    /*outline: 1px solid red;
    background-color: rgba(0, 100, 120, 0.1);*/
}
body {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.Left {
    float: left;
}
.Right {
    float: right;
}
.Centre {
    text-align: center;
}
.Tight {
    margin: 0 0;
}
.FullWidth {
    width: 100%;
}
.Horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Vertical li {
    padding: 20px;
}
.Vertical li img{
    margin-right: 40px;
}
#Intro {
    margin-top: 100px;
}
section {
    width: 90%;
    max-width: 1440px;
    display: block;
    margin-bottom: 50px;
    padding: 0px 40px 0px 40px;
}
section {
    -webkit-box-shadow: 5px 5px 26px 3px rgba(0,0,0,0.33);
    box-shadow: 5px 5px 26px 3px rgba(0,0,0,0.33);
    padding: 25px;
    border-radius: 1%;    
}
.SectionTitle {
    /*translate: -20px;*/
}
.TitleSpacing {
    margin-bottom: 50px;
}
.BodyText {
    margin-left: 5px;
    margin-bottom: 30px;
}
.InlineBlock * {
    display: inline-block;
    vertical-align: middle;
}
.Block * {
    display: block;
}
.FlexContainer {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    flex-wrap: nowrap;
    height: fit-content;
}
.FlexChild {
    flex-grow: 1;
}
.AnnotationCoupling {
    aspect-ratio: 16 / 9;
    border: 1px  #cccccc7a solid;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #618a86;
}
.Caption {
    max-width: 30%;
    min-width: 30%;
}
.PadLeft {
    padding-left: 10px;
}
.PadRight {
    padding-right: 10px;
}
.CarouselImage {
    /*width: 500px;*/
    width: 100%;
    background-color: gray;
    aspect-ratio: 12 / 8 !important;
}
.Feature {
    width: 100%;
    min-width: 50%;
}
.Highlight {
    background-color: #618a86;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}
.InfoIcon {
    max-width: 90px;
    padding: 5px;
}
.IconLabel {
    display: inline;    
}
.IconGroup {
    padding-bottom: 15px;
}
.InfoIconGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    padding: 10px 5px 15px 5px;
    width: 115px;
    min-width: 99px;
}
.DotPointLabel *{
    vertical-align: middle;
}
.DotPointLabel p{
    width: 80%;
    margin: 0px;
}
.DotPointLabel img{
    width: 20%;
}
#Research div.FlexContainer {
    border-radius: 10px;
    border: 3px solid #618a86;
    overflow: hidden;
}
#Research div.FlexContainer div.Caption {
    background-color: #618a86;
    padding: 10px 10px 10px 10px;
    color: #ebebeb;
}
.Quote {
    border-left: 2px solid black;
    translate: 30px;
    width: 100%;
    display: flex;
    height: fit-content;
    margin-bottom: 50px;
}
.Quote p {
    padding: 5px;
    margin-left: 5px;
    display: flex;
    margin-right: 10px;
}
.S-spacer {
    height: 60px;
}
.Comparison {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.Comparison p {
    padding: 10px;
    display: flex;
}
.Divider {
    width: 8px;
    background-color: black;
}
.Comparison ul {
    list-style: none;
}
.Positive {
    background-color: rgba(0, 128, 0, .2);
    border-radius: 10px 0px 0px 10px;
    border: 2px solid rgb(0, 128, 0);
    border-right: none;
}
.Positive div.Comparison ul li::before{
    content: "+";
    padding-right: 5px;
    color: green;
}
.Negative div.Comparison ul li::before{
    content: "-";
    padding-right: 5px;
    color: red;
}
div.Comparison ul li::before {
    font-size: xx-large;
}
.Negative {
    background-color: rgba(128, 0, 0, .2);
    border-radius: 0px 10px 10px 0px;
    border: 2px solid rgb(128, 0, 0);
    border-left: none;
}
.Comparison div.FullWidth {
    padding: 10px;
}
.VertScroll {
    overflow: scroll;
    overflow-x: hidden;
    /*width: 420px;*/
}
.CardScroll {
    width: 40%;
    max-width: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin: 0px 0px;
    flex-grow: 0.5;
    box-shadow: 
        /*inset 0px 11px 8px -10px #CCC,*/
        inset 0px -11px 8px -10px #CCC;
}
.VertScrollCard{
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    color: #07100f;
    border: 3px solid #618a86;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    flex-grow: 0.5;
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.67);
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.67);
}
.VertScrollCard:hover {
    border: 3px solid #7bb0ab;
    background-color: #7bb0ab;
    cursor: pointer;
}
.VertScrollCard h3 {
    background-color: #618a86;
    color: #ffffff;
    padding: 5px 0px 10px 5px;
}
.VertScrollCard p {
    padding: 5px;
    font-weight: 500;
    text-decoration: underline;
}
.VertScrollCard ul {
    list-style: none;
    padding-left: 5px;
}
.VertScrollCard li {
    font-weight: 300;
}
.VertScrollCard li::before {
    content: "-";
    padding-right: 5px;
    font-weight: 800;
}
.Head {
    height: 60px;
}
.Body {
    height: 100%;
}
.IterationGridCard *:not(img){
    background-color: #618a86;
    overflow: hidden;
    color: #ebebeb;
}
.IterationGridCard img{
    background-color: white;
}
.IterationGridCard {
    text-align: center;
    width: 100%;
    outline: 3px solid #618a86;
    -webkit-box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.67);
    box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.67);
}
.IterationGridCard:first-child {
    border-radius: 10px 0px 0px 10px;
}
.IterationGridCard:last-child {
    border-radius: 0px 10px 10px 0px;
}
.IterationGridCard p {
    text-align: left;
    padding: 5px 10px 0px 10px;
    font-weight: 500;
}
.ImageFit {
    object-fit: contain;
    width: 100%;
}
.IterationImage {
    width: 100%;
    height: 760px;
    object-fit: contain;
    object-position: center top;
    overflow-x: auto;
}
.IterationGrid {
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 10px;
}
.IterationGridCard {
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: 60px 760px auto;
}
.Prototype {
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid #618a86;
    border-radius: 10px;
    overflow: hidden;
}
.PrototypeImage {
    margin-bottom: 10px;
    width: 100%;
    object-fit: scale-down;
    height: 1050px;
}
.Prototype:first-child {
    margin-right: 40px;
}
.WidthLabel {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #618a86;
}
.WidthLabel * {
    margin: 0;
}
.WidthLabel p {
    padding: 3px;
}
.WidLabel {
    background-color: #618a86;
    width: 100%;
    color: #ebebeb;
    height: 82px;
    padding-top: 10px;
}
.MobPrototype {
    display: flex;
    aspect-ratio: 9 / 16;
    flex-grow: 0.5;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
}
.MobilePrototype * {
    /*max-width: 70%;*/
}
.DeskPrototype {
    /*aspect-ratio: 4 / 3;
    flex-grow: 1;*/
    object-fit: contain;
}
.PrototypeContainer {
    width: 100%;
    align-items: baseline;
    display: flex;
    flex-direction: row;
}
hr {
    border: 2px solid black;
    margin: 0;
}
.Horiz {
    width: 100%;
    height: 0px;
    flex-grow: 1;
    background-color: black;
    height: 4px;

}
.Vert {    
    /*transform: rotate(90deg);
    rotate: 90deg;*/
    background-color: black;
    height: 30px;
    width: 10px;
}
.SubText {
    padding-left: 5px;
}
.carousel {
    width: 500px;
    height: 500px;
}
.carousel-inner img {
    width: 100%;
    object-fit: cover;
}
.carousel-inner {
    width: 100%;
    height: 100%;
}
.carousel-indicators {
    background-color: rgba(255, 255, 255,0.5) !important;
    margin-bottom: 0 !important;
    height: 30px;
}
.carousel-indicators li {
    background-color: #373738 !important;
}
.carousel-control-next, .carousel-control-prev {
    background-color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1 !important;
    top: 470px !important;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    opacity: .6;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    opacity: .9;
}
#demo3 {
    width: 100%;
}
.ItemView {
    width: 950px;
    height: 100%;
}
.ChoiceRange {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.ItemChoice {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.ItemChoice * {
    width: 100%;
    height: 100%;
}
.IndicatorSelection {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 10px 0px 10px 0px;
    border-top: 3px solid #618a86;
    border-left: 3px solid #618a86;
}
.ItemIndicator{
    height: 30px;
    width: 30px;
    align-self: center;
    background-color: #618a86;
    color: #ebebeb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ItemIndicator:hover {
    cursor: pointer;
    background-color: #7bb0ab;
}
.ItemIndicator p {
    margin: 0;
}
.IndicatorOn {
    background-color: #7bb0ab;
    color: #07100f;
}
.Chosen {
    background-color: #7bb0ab;
    border: 3px solid #7bb0ab;
}
.DualOption {
    border: 3px solid #618a86;
    border-radius: 10px;
    overflow: hidden;
}
.Selector {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    width: 100%;
    border-bottom: 3px solid #618a86;
}
.Selector h3 {
    padding: 8px;
    margin: inherit;
    width: 100%;
    text-align: center;
}
.Selector h3:hover {
    cursor: pointer;
    background-color: #7bb0ab;
} 
.Selected {
    background-color: #618a86;
    color: #ebebeb;
    height: 100%;
}
.Active {
    display: block !important;
}
.Option {
    display: none;
}
.DualOption {
    display: none;
}
@media only screen and (max-width:1351px){
    .InfoIconGroup {
        width: 99px;
    }
    .IterationImage {
        object-fit: cover;
    }
}
@media only screen and (max-width:1300px){
    .PrototypeContainer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    .DualOption {
        display: block;
    }
    .PrototypeContainer{
        display: none;
    }
}
@media only screen and (max-width:900px){
    .Caption {
        max-width: none;
    }
    .carousel {
        width: auto;
    }
    .FlexContainer {
        flex-direction: column;
    }
    .IterationGrid {
        grid-auto-rows: auto;
        grid: auto auto auto / auto;
        grid-gap: 30px;       
    }
    .Img {
        width: 450px;
    }
    .Head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Img {grid-area: Img;}
    .Head {grid-area: Head;}
    .Body {grid-area: Body;}
    .IterationGridCard {
        display: grid;
        grid-template-rows: 60px auto;
        grid-template-areas: 
        'Img Head'
        'Img Body';
    }
    .IterationGridCard {
        border-radius: 10px !important;
        overflow: hidden;
    }
}