* {
    /*outline: 1px solid red;*/
    background-color: rgba(0, 100, 120, 0.1);
}
body {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.Left {
    float: left;
}
.Right {
    float: right;
}
.Centre {
    text-align: center;
}
.Tight {
    margin: 0 0;
}
.FullWidth {
    width: 100%;
}
.Horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Vertical li {
    padding: 20px;
}
section {
    width: 90%;
    max-width: 1440px;
    display: block;
    margin-bottom: 150px;
    padding: 0px 40px 0px 40px;
}
.SectionTitle {
    translate: -20px;
    margin-bottom: 50px;
}
.BodyText {
    margin-left: 30px;
    margin-bottom: 30px;
}
.InlineBlock * {
    display: inline-block;
    vertical-align: middle;
}
.Block * {
    display: block;
}
.FlexContainer {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    flex-wrap: nowrap;
    height: fit-content;
}
.FlexChild {
    flex-grow: 1;
}
.AnnotationCoupling {
    aspect-ratio: 16 / 9;
}
.Caption {
    max-width: 30%;
    padding: 15px;
    min-width: 30%;
}
.CarouselImage {
    /*width: 500px;*/
    width: 100%;
    background-color: gray;
    aspect-ratio: 12 / 8 !important;
}
.Feature {
    width: 100%;
    min-width: 50%;
}
.InfoIcon {
    max-width: 60px;
    padding: 5px;
}
.IconLabel {
    display: inline;
    
}
.IconGroup {
    padding: 15px;
    padding: 0px 15px 15px 15px;
}
.InfoIconGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    padding: 10px 20px 15px 20px;
}
.DotPointLabel *{
    vertical-align: middle;
}
.DotPointLabel p{
    width: 80%;
    margin: 0px;
}
.DotPointLabel img{
    width: 20%;
}
.Quote {
    border-left: 2px solid black;
    translate: 30px;
    width: 100%;
    display: flex;
    height: fit-content;
    margin-bottom: 50px;
}
.Quote p {
    padding: 5px;
    margin-left: 5px;
    display: flex;
}
.S-spacer {
    height: 60px;
}
.Comparison {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.Comparison p {
    padding: 10px;
    display: flex;
}
.Comparison div.FullWidth {
    padding: 10px;
}
.VertScroll {
    overflow: scroll;
    overflow-x: hidden;
    /*width: 420px;*/
    width: 40%;
    max-width: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin: 0px 0px;
    flex-grow: 0.5;
}

.VertScrollCard{
    width: 100%;
    height: fit-content;
    background-color: gray;
    border-radius: 10px;
    margin: 10px;
    flex-grow: 0.5;
    padding: 5px;
}
.VertScrollCard p {

}
.IterationCard {
    text-align: center;
    width: 100%;
}
.IterationCard p {
    text-align: left;
}
.IterationCard:not(:last-child) {
    margin-right: 10px;
}
.Prototype {
    text-align: center;
}
.PrototypeImage {
    outline: 2px solid black;
    margin-bottom: 10px;
}
.Prototype:first-child {
    margin-right: 40px;
}
.WidthLabel {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.WidthLabel * {
    margin: 0;
}
.WidthLabel p {
    padding: 3px;
}
.MobilePrototype {
    aspect-ratio: 9 / 16;
    flex-grow: 0.5;
}
.DesktopPrototype {
    aspect-ratio: 16 / 9;
    flex-grow: 2;
}
.PrototypeContainer {
    width: 100%;
}
hr {
    border: 2px solid black;
    margin: 0;
}
.Horiz {
    width: 100%;
    height: 0px;
    flex-grow: 1;
}
.Vert {    
    /*transform: rotate(90deg);
    rotate: 90deg;*/
    background-color: black;
    height: 30px;
    width: 10px;
}
.SubText {
    padding-left: 5px;
}
